<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://mmcosmos.documents.azure.com:443/" />
        <add key="accountKey" value="X697xnXYSvd0lk3DTqBouc1b2D3xKO7oa7CqtUJZUvFVjrUehed2IesSxOBHP8OL73NrxgZaUpbh3c5b0D1RkQ==" />
      </appSettings>
</configuration>